<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<%= render partial: 'header' %>

<h1>New garment</h1>

<%= render 'form' %>

<%= link_to 'Back', garments_path %>
