/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

li { 
	list-style-type: none;
}

.no-margin {
	margin: 0;
}

.margin-top {
	margin-top: 60px;
}

.center {
 	text-align: center;
}

.nav {
	height: 54px;
}

.no-float {
	display: inline-block;
	float: none;
}

.inline {
	display: inline-block;
}

.glyph {
	font-family: 'Glyphicons Halflings';
}

.left {
	float: left;
}

.title {
	margin-top: -8px;
}

.navbar-brand {
	color: #FFFFFF;
}

img {
	width: 200px;
}

.table-garments {
	width: 550px;
	margin-left:auto; 
    margin-right:auto;
}

.form {
	width: 400px;
	margin-left:auto; 
    margin-right:auto;
}

.show {
	width: 200px;
	margin-left:auto; 
    margin-right:auto;
}

.right-icons {
	float: right;
	margin-top: auto;
	margin-bottom: auto;
}

.cont {
  width: 400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

	.cont:before,
	.cont:after {
	  display: table;
	  content: " ";
	}

	.cont:after {
	  clear: both;
	}

.btn-wardrobe {
	padding: 8px 5px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.slim-row {
	width: 34px;
}


.slim-category {
	width: 34px;
}

.slim-image {
	width: 34px;
}

.slim-name {
	width: 34px;
}

/*Adjust margins when having a definite height of images*/
.vertical-center {
	margin-top: auto;
	margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 250px;
    margin: 30px auto;
  }
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.margin-right {
	margin-right: 20px;
}

/*
td {
	max-width: 200px;
}*/

/* Para hacer la tabla más pequeña. No sobreescribe a bootstrap
.table {
  width: 1%;
  margin-bottom: 20px;
}*/


/* ----- SimpleForm Styles ----- */
/*
.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko*//*
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}*/